.principal
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.caja
{
    background-color: aqua;
    width: 480px;
    height: 700px;
    margin: 5px;
}


.contenedor
{
    display: flex;
    flex-direction: row;
}

.caja1
{
    background-color: rgb(18, 189, 38);
    width: 160px;
    height: 200px;
    margin: 5px;
}


.contenedor1
{
    flex-direction: column;
    display: flex;
}

.caja2
{
    background-color: bisque;
    width: 470px;
    height: 90px;
    margin: 5px;

}


.contenedor2
{
    display: flex;
    flex-direction: row;
}

.caja3
{
    background-color: rgb(185, 48, 14);
    width: 163px;
    height: 175px;
    margin: 5px;
}


.contenedor3
{
    display: flex;
    flex-direction: column;
}

.caja4
{
    background-color: rgb(6, 41, 98);
    width: 470px;
    height: 164px;
    margin: 5px;

}
